* {
    touch-action: manipulation;
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-color: black;
    color: white;
}

#tetriscanvas {
    border: 1px solid white;
}

#tetris {
    margin-top: 25px;
}

#mobile-buttons {
    display: none;
}

@media only screen and (min-width: 0px) and (max-width: 400px) {
    #mobile-buttons {
        display: block;
    }
} 

.lobby {
    border-radius: 15px;
}

#button-down {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url( '../svg/tetris-buttons/down.svg');
}

#button-fall-immediate {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url( '../svg/tetris-buttons/down\ now.svg');
}

#button-move-left {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url( '../svg/tetris-buttons/left.svg');
}

#button-move-right {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url( '../svg/tetris-buttons/right.svg');
}

#button-rotate-left {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url( '../svg/tetris-buttons/left\ turn.svg');
}

#button-rotate-right {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url( '../svg/tetris-buttons/right\ turn.svg');
}

#button-rotate-twice {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url( '../svg/tetris-buttons/180\ turn.svg');
}

#button-swap { 
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url( '../svg/tetris-buttons/right\ left.svg');
}